@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Public Sans;
  font-size: 18px;
}

.container {
  padding: 0 80px;
}

.nav {
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  width: 100vw;
}

.nav ul li {
  list-style: none;
  display: inline;
  margin: 10px;
}

.nav ul {
  display: block;
}

.nav ul li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}

.nav ul li:hover {
  border-bottom: 2px solid hsl(136, 65%, 51%);
}

.nav button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  margin: 0;
}

.banner {
  display: flex;
  flex-wrap: wrap-reverse;
  background: hsl(0, 0%, 98%);
  height: 600px;
  justify-content: space-between;
}

.banner div {
  display: flex;
  justify-content: center;

  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 80px;
}

.images {
  background: url("./images/bg-intro-desktop.svg");
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
}
.images img {
  width: 150%;
  /* overflow: hidden; */
  /* object-fit: contain; */

  /* overflow-y: ;
  height: ; */
}

h1 {
  font-weight: 700;
  color: hsl(233, 26%, 24%);

  margin-bottom: 20px;
  font-size: 40px;
}

.banner div p {
  margin: 20px 0;
  font-size: 18px;
  color: hsl(233, 26%, 24%);
}

button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  margin-top: 10px;
  border: none;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 100%);
}

button:hover {
  background: linear-gradient(90deg, hsl(233, 8%, 62%), hsl(136, 65%, 51%));
}

.why-us {
  background: hsl(220, 16%, 96%);
  padding: 40px 80px;
}

.why-us div {
  padding: 20px 0;
}

.why-us h2 {
  font-weight: 700;
  color: hsl(233, 26%, 24%);
  margin-bottom: 15px;
  font-size: 32px;
}

.why-us p {
  font-size: 14px;
  color: hsl(233, 26%, 24%);
  line-height: 1.6;
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.tips {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tips div {
  padding: 10px;
  width: auto;
}

.tips div h3 {
  margin: 15px 0;
  color: hsl(233, 26%, 24%);
  font-weight: 400;
}

.tips div p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

.articles {
  padding: 80px 80px;
  background: hsl(0, 0%, 98%);
}

.articles h2 {
  font-size: 25px;
  margin-bottom: 30px;
  color: hsl(233, 26%, 24%);
}

.article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article div {
  height: auto;
  width: 275px;
  margin-bottom: 20px;
  background: hsl(0, 0%, 100%);
}

.article div img {
  width: 100%;
  height: 50%;
}

.article div div {
  padding: 25px;
  font-size: 16px;
}

.title {
  margin: 10px 0;
  color: hsl(233, 26%, 24%);
  font-weight: 400;
}

.title:hover {
  color: hsl(136, 65%, 51%);
}

.author {
  font-size: 12px;

  color: hsl(233, 8%, 62%);
}

.content {
  font-size: 16px;
  line-height: 1.4;
  color: hsl(233, 8%, 62%);
}

.footer {
  background: hsl(233, 26%, 24%);
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer li {
  margin-bottom: 10px;
  list-style: none;
}

.footer ul a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: 300;
}

.footer ul a:hover {
  color: hsl(136, 65%, 51%);
}

.copyright {
  text-align: right;
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

.copyright button {
  margin-bottom: 20px;
}

.footer svg {
  margin-bottom: 30px;
}

.footer img {
  margin-right: 5px;
}

.open {
  display: none;
}

@media (max-width: 960px) {
  .banner div,
  .articles,
  .why-us,
  .footer {
    padding: 40px;
  }

  .container {
    padding-left: 30px;
  }

  .article div,
  .tips div {
    width: 40vw;
  }

  .tips {
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .articles,
  .why-us,
  .footer {
    padding: 20px;
  }

  .banner {
    height: unset;
  }

  .banner div {
    width: 100%;
    padding: 20px;

    align-items: center;
    text-align: center;
    line-height: 1.4;
  }

  .images img {
    width: 150%;
  }

  .article div,
  .tips div {
    width: auto;
  }

  .articles {
    padding-left: 30px;
  }

  .why-us {
    padding: 30px;
    text-align: center;
  }

  .footer {
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }

  .footer div,
  .footer ul {
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }

  .copyright {
    text-align: unset;
  }

  .nav {
    flex-direction: column;
    height: unset;
    align-items: flex-start;
    padding: 20px 30px;
  }

  .nav ul li {
    display: block;
    margin: 20px 0;
    transition: 1.5s ease-in;
  }

  .nav ul li:hover {
    border-bottom: unset;
    font-weight: 700;
  }

  .nav ul li a:hover {
    color: hsl(136, 65%, 51%);
    text-decoration: underline;
    transition: 1s ease-in;
  }

  img.open {
    display: block;
    height: 25px;
    width: 30px;
    /* right: 0;
    top: 0;
    align-self: flex-end;
    position: relative; */
  }

  .logo {
    height: fit-content;
  }

  ul.menu {
    display: none;
    height: 350px;
    width: 100%;
    text-align: center;

    padding: 30px;
    box-sizing: border-box;
  }

  .nav button {
    display: none;
  }

  .imgs {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .images {
    /* background: unset; */
    background: url("./images/bg-intro-mobile.svg");
    padding: 0;
    overflow-x: hidden;
  }
}
